
<h1>{{nombre}}</h1>
<button type="button" (click) = "saludar()">Saludar</button>
<button type="button" (click) = 'preguntar()'>Peguntar por Hijo</button>




<!-- 
<app-hijo (mensajeDesdeElHijo)="recibirMensaje($event)"></app-hijo>

<h1>El mensaje recibido desde el hijo es: {{mensajeRecibido}}</h1>

 -->





<!-- <h1>contador</h1>
<p>{{valorContador}}</p>
<button (click) = "incrementar()">incrementar</button>
<button (click) = "decrementar()">decrementar</button>

<app-hijo [recibeHijo]="mensajePadre"></app-hijo> -->
